.banner {
  background-image: url("../img/promo_background.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  &__choose-program {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 270px;
      left: 115px;
    }
  }
}

.banner__wrapper {
  margin: 0 auto;
}

.banner__header {
  color: $basic_white;
  margin: 0;
  margin-bottom: 29px;
  padding: 27px 35px;
  padding-bottom: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 27px 117px;
    color: $basic_black;
    text-align: left;
  }
}

.banner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 25px;
}

.banner__slogan {
  text-transform: uppercase;
}

.banner__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
