.extra {
  &__item {
    padding: 13px 0 19px;
    border-bottom: 1px solid $basic_grey_3;

    &:first-child {
      border-top: 1px solid $basic_grey_3;
    }

    &:last-child {
      border: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
    line-height: 14px;
    font-family: $custom-font;
    color: $special_dark_grey;
  }

  &__name {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__button {
    display: inline-block;
    width: 280px;
  }

  &__item--bonus {
    padding: 0;
    text-align: center;
    height: 289px;
    background-image: url("../img/catalog-mobile-bonus.jpg");
  }

  &__offer {
    display: inline-block;
    text-align: center;
    font-family: $custom-font;
    font-size: 16px;
    line-height: 20px;
    color: $basic_white;
    width: 161px;
    padding-top: 58px;

    &::before {
      display: block;
      margin: 0 auto;
      content: "";
      width: 78px;
      height: 80px;
      background-image: url("../img/catalog-mobile-gift.svg");
      margin-bottom: 48px;
    }
  }
}
