.features {
  margin: 0;
  margin-bottom: 42px;
  padding-left: 0;
  padding-left: 20px;
  padding-right: 21px;
}

.features__title {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  font-size: 36px;
  line-height: 40px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  margin: 0;
  padding: 0;
  min-height: 60px;
}

.features__desc {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
}
