.main-navigation {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $basic_black;
}

.main-navigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.site-list__item {
  border-bottom: 1px $basic_grey_3 solid;
  padding: 12px 20px;
  text-align: center;
}

.site-list__item a {
  color: $basic_black;
}
