.page-header {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    display: flex;
      justify-content: space-between;
  }

  &__logo {
    display: flex;

    @media (min-width: $tablet-width) {
      margin-right: 95px;
    }
  }

  &__mascot {
    margin-right: 50px;

    @media (min-width: $tablet-width) {
      margin-right: 12px;
    }
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px $basic_grey_3 solid;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.page-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
