.page-footer {
  background-color: $basic_grey;
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  text-align: center;
  border-bottom: 1px solid $special_grey_3;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.page-footer__social {
  padding-top: 20px;
  padding-left: 73px;
  padding-right: 77px;
  padding-bottom: 21px;
  border-bottom: 1px solid $special_grey_3;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}
