.page-main {
  &__banner,
  &__programs,
  &__features {
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    &__banner {
      min-height: 557px;
      margin-bottom: 82px;
    }
  }
}

.page-main__banner {
  @media (min-width: $tablet-width) {
    min-height: 787px;
  }
}
