.page-header {
  display: flex;
  flex-direction: column;
  min-height: 252px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 139px;
    justify-content: space-between;
  }

  &__toggle {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px $basic_grey_3 solid;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}
